asgiref==3.2.10
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
cryptography==3.1.1
Django==3.1.2
django-cors-headers==3.5.0
Faker==4.14.0
httpie==2.2.0
idna==2.10
mycli==1.22.2
mysql==0.0.2
mysqlclient==2.0.1
Pillow==8.0.0
prompt-toolkit==3.0.8
pycparser==2.20
Pygments==2.7.1
PyJWT==1.7.1
PyMySQL==0.10.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
svgwrite==1.4
tabulate==0.8.7
terminaltables==3.1.0
text-unidecode==1.3
Tree==0.2.4
urllib3==1.25.10
wcwidth==0.2.5
gunicorn==20.0.4